.container{
    display: flex;
    background-color: black;   
    flex-wrap: wrap; 
    border: 1px solid;
    width: 100%;
}
.cell {
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  border: 1px solid black;
}
