*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 30px;
}

.wrapper{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container{
    width: 100%;
    max-width: 100vh;   
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
}
.cell {
  aspect-ratio: 1 / 1;
  background-color: aliceblue;
  box-sizing: border-box;
  border: 1px solid black;
}
h1{
    text-align: center;
    text-decoration: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.btn{
    padding: 12px 24px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    color: #fff;
    background: linear-gradient(135deg, #00c6ff, #0072ff);

    border: none;
    border-radius: 10px;

    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}

.btn:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.btn:active{
    transform: translateY(1px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.colorPicker {
    width: 50px;
    height: 40px;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}
